
/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact { background-color: var(--cultured); }

.contact-list { margin-block: 40px 50px; }

.contact-item:not(:last-child) { margin-block-end: 22px; }

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-item ion-icon {
  color: var(--theme-color);
  font-size: 22px;
  flex-shrink: 0;
  --ionicon-stroke-width: 25px;
}

.contact-link {
  color: var(--black);
  font-family: var(--ff-poppins);
}

.input-field {
  color: var(--black);
  font-family: var(--ff-poppins);
  font-size: var(--fs-13);
  letter-spacing: 1.4px;
  border: 1px solid var(--black_10);
  padding: 10px;
  margin-block-end: 30px;
  outline: none;
  transition: border var(--transition);
}

.input-field:focus { border-color: var(--black_30); }

textarea.input-field {
  resize: vertical;
  min-height: 45px;
  height: 45px;
  max-height: 100px;
}

.submit-btn {
  background-color: var(--theme-color);
  color: var(--white);
  width: 100%;
  font-size: var(--fs-17);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  transition: var(--transition);
}

.submit-btn:is(:hover, :focus) { background-color: var(--black); }

.submit-btn ion-icon { transition: var(--transition); }

.submit-btn:is(:hover, :focus) ion-icon { transform: rotate(-45deg); }


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * PRICING, CONTACT
   */

  .pricing-card,
  .contact-link { font-size: var(--fs-18); }

}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CONTACT
   */

  .contact .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 200px;
  }

  .contact-list { margin-block-end: 0; }

}

/*****************************************************************************/

.input-field {
    margin-block-end: 15px !important;
}

.contact-us-message{
    color:#239944 !important;
    text-align:center !important;
    font-weight:bold !important;
    margin-bottom:5px !important;
}

.section-title {
    margin-block-end: 30px !important;
}
.validation-error {
  color: red;
  font-size: 13px;
  margin-top: 2px;
  display: block;
  margin-top: -15px !important;
  margin-bottom: 15px !important;
}
